# Used for authentication and third-party services
db:
    host: "host_test"
    user: "user_test"
    password: "password_test"
    database: "db_name_test"

# Secret key base for production (optional, Rails generates its own usually)
secret_key_base: "DUMMY_SECRET_KEY_BASE_FOR_DEVELOPMENT_OR_TESTING"