BACKEND_URL=http://192.168.1.10:3000
WORKER_MANAGER_KEY=change-me
WORKER_API_KEY=change-me
SIGNAL_CONTROL_TOKEN=change-me
ADVERTISE_HOST=192.168.1.30
MEDIAMTX_URL=rtsp://192.168.1.20:8554
MEDIAMTX_HOST=192.168.1.20
VIDEO_DIR=../infrastructure/media/videos
WORKER_BUILD_CONTEXT=../worker
MODEL_DIR=../worker
WORKER_IMAGE=traffic-worker:demo
POLL_SECONDS=5
CONTROL_PORT_START=8081
SIGNAL_PORT_START=5001
