CAMERA_ID = "camera-1"
MEDIAMTX_URL = "rtsp://localhost:8554"
MEDIAMTX_API = "http://localhost:9997"
MEDIAMTX_API_USER = "worker"
MEDIAMTX_API_PASS = "change-me"
CONTROL_PORT = "8081"
ADVERTISE_HOST = "host.docker.internal"
MODEL_PATH = "vehicle_best.pt"
PLATE_MODEL_PATH = "plate_best.pt"
PLATE_CONF = "0.25"
OCR_LANGS = "en"